@model CollegeMGT.Core.Models.Grade

@{ 
    var title = "Add Grade";
}
<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if(Model.GradeId != 0)
        {
            //Edit
            title = "Update Grade";
            <input type="hidden" asp-for="GradeId" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="GradeName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="GradeName" class="form-control" />
                    <span asp-validation-for="GradeName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="GradeValue"></label>
                </div>
                <div class="col-8">
                    <input asp-for="GradeValue" class="form-control" />
                    <span asp-validation-for="GradeValue" class="text-danger"></span>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-8 offset-4  ">
                    @if (Model.GradeId != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.GradeId" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
 }
